%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

%% These are all only compile time dependencies
{deps, [{neotoma, "",
         {git, "https://github.com/seancribbs/neotoma.git", {branch, master}}},
        {proper, "", {git, "https://github.com/bkearns/proper.git", {branch, master}}},
        {rebar_vsn_plugin, ".*", {git, "https://github.com/erlware/rebar_vsn_plugin.git",
                                  {branch, "master"}}}]}.

{erl_first_files, ["ec_dictionary"]}.

{erl_opts,
 [debug_info,
  warnings_as_errors]}.
